body{
  background: #fff5f5
}
.a{
  font-color: #d67a8a;
}
h1 {
  margin: 30px; 
  padding: 70px;
  font-size: 80px;
}

h2{
  margin: 60px;
  padding: 20px;
  font-size: 30px;
}

h3{
    margin: 60px;
  padding: 20px;
  font-size: 30px;
}

h5{
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbd6d0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  font-size: 23px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffc7b8;
}



/*Styling for all the containers is the same  */
.container1 {
 display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
}


.containerText{
  font-size: 40px;
   font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.iframeStayle {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.image {
 display: flex;
  justify-content: right;
  width: 350px;
  height: 350px;
  margin: 20px auto;
}

p {
  padding: 30px;
  font-size: 50px;
}
.containerCenter{
  justify-content: center;
}

.container-4 {
 
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;

}
